# Required Python libraries for openparliament
# pip can install these libraries automatically by reading this file:
# pip install -r requirements.txt
BeautifulSoup4
Django
Markdown
Pillow
django-extensions
django-haystack
pysolr
#wsgiref
feedparser
django-compressor
django-libsass
requests
requests-oauthlib
lxml
cssselect
#-e git+git://github.com/rhymeswithcycle/alpheus.git#egg=alpheus
google-api-python-client
webob
jsonfield
python-memcached
django-imagekit
Django-appconf
sqlparse
google-auth
